
caption{
    font-size: 2rem;

}
.empTable {
    border: 2px solid black;
    width: 95vw;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto  ;
    border-collapse: collapse;
    background-color: white;
    color: #97144d;
}

 .empTable th{
    border: 2px solid black;
    text-align: center;
    /* padding: 10px; */
    border-collapse: collapse;
    height: 100px;
    vertical-align: middle;
 }
  .empTable td {
    border: 2px solid black;
    text-align: center;
    /* padding: 10px; */
    border-collapse: collapse;
    height: 100px;
    vertical-align: middle;
  }
  
  .empRow:hover{
    background-color: #97144d;
    color: white;
  }