.popUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #555;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popUpInner {
  position: relative;
  padding: 32px;
  width: 100%;
  height: 30rem;
  max-width: 640px;
  background-color: white;
}

.popUpInner .closeButton {
  position: absolute;
  top: 5px;
  width: 25px;
  right: 5px;
  height: 25px;
  transition: all 200ms;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  background-color: #97144d;
  color: white;
}

.leftCont {
  width: 55%;
  height: 60%;
  background-color: #97144d;
  color: white;
}

.leftCont ul {
  list-style: none;
  padding: 10px;
  font-size: 14px;
}

.leftCont ul li {
  padding: 8px;
}

.rightCont {
  width: 30%;
  height: 40%;
  margin-left: 23rem;
  margin-top: -13rem;

}

.bottomCont {
  margin-top: 3.6rem;
  width: 100%;
  height: 40%;
  background-color: #97144d;
  color: white;
}

.bottomCont ul {
  list-style: none;;
  padding: 4px;
  font-size: 14px;
}

.bottomCont ul li {
  padding: 10px;
}


.rightCont img {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}
